doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        block title
            title Default title
        meta(name='description', content='')
        meta(name='keywords', keywords='')
        meta(name="robots", content="noindex,nofollow,noarchive")
        link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700', rel='stylesheet', media='all')
        link(href=root_dir+'css/style.css', rel='stylesheet', media='all')

    body
        header
            .c-container
                h1.logo Sample
                nav
                    ul
                        li: a.nav-link(href="#about") About
                        li: a.nav-link(href="#sample") Sample

        main
            block content

        footer
            .c-container
                p Copyright

        #page-top.c-page-top-button

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        block script
