@charset "utf-8";

.c-container {
    max-width: 982px;
    margin: 0 auto;
    padding: 80px 15px;
}
.c-white-container {
    background: white;
}
@media screen and (max-width: 768px) {
    .c-container {
        width: 100%;
        margin: 0;
        padding: 30px 15px;
    }
}
